*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    background: #e7e7e7;
    text-align: center;
    padding: 10px 30px 10px 30px;
}
h2{
    margin: 10px 0 20px 0;
}

h3{
    margin: 10px 0 20px 0;
}
.cards{
    margin: 10px 20px 10px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.card{
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    width: 160px;
    padding: 10px 10px 30px;
}
.card h4{
    text-transform: capitalize;
}