@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #21243D;
    --clr-primary: #FF6464;
    --clr-cyan: #00A8CC;
    --clr-gray: #8695A4;
    --clr-white: #fff;
    --clr-black: #000;
    --clr-lightblue: #EDF7FA;
    --clr-border: #E0E0E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
    color: var(--clr-main);
    line-height: 1.5;
}

.container--big {
    margin: 0 auto;
    max-width: 1000px;
    padding-inline: 15px;
}

.container--main {
    padding-inline: 15px;
    margin: 0 auto;
    max-width: 860px;
}

/* header */

.header__menu {
    padding-block: 27px;
}

.header__list {
    display: flex;
    justify-content: flex-end;
    gap: 28px;
}

.header__link {
    color: var(--clr-black);
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
}

.header__link:hover {
    text-decoration: underline;
}

/* main */

main {
    padding-bottom: 78px;
}

/* block portfolio */

.portfolio__container {
    display: flex;
    gap: 32px;
    padding-top: 150px;
    padding-bottom: 70px;
    align-items: center;
    justify-content: space-between;
}

.portfolio__desc {
    flex: 0 1 500px;
}

.portfolio__photo {
    height: 243px;
    width: 243px;
    border-radius: 50%;
    overflow: hidden;
    flex: 0 0 243px;
}

.portfolio__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio__title {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.36;
    margin-bottom: 25px;
    ;
}

.portfolio__text {
    font-weight: 400;
    margin-bottom: 38px;
    ;
}

.portfolio__btn {
    background: var(--clr-primary);
    padding: 13px 21px;
    color: var(--clr-white);
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

/* recent-posts */
.recent-posts {
    background-color: var(--clr-lightblue);
    padding-bottom: 32px;
}

.recent-posts__header {
    display: flex;
    justify-content: space-between;
    padding-block: 25px;
}

.recent-posts__header h2 {

    font-size: 22px;
}

.recent-posts__header span {
    color: var(--clr-cyan);
}

.recent-posts__cards {
    display: flex;
    gap: 20px;
}

.card {
    flex: 1;
    background-color: var(--clr-white);
    padding: 24px;
}

.card__title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 17px;
}

.card__subtitle {
    display: flex;
    gap: 24px;
    margin-bottom: 17px;

}

/* .featured */

.featured__title {
    padding-top: 15px;
    padding-bottom: 22px;
    font-size: 22px;
}

.card-featured {
    border-bottom: solid var(--clr-border);
    display: flex;
    gap: 18px
}

card-featured__image {
    width: 246px;
    height: 180px;
    border-radius: 6px;
    overflow: hidden;
    flex: 0 0 246px;
}

card-featured__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-featured__title {
    font-size: 30px;
    font-weight: 700;
}

.card-featured__subtitle h4 {
    margin-block: 17px;
}

.card-featured__subtitle span:nth-child(1) {
    width: 62px;
    height: 25px;
    border-radius: 16px;
    background: #142850;
    color: var(--clr-white);
    font-size: 18px;
    font-weight: 900;
    padding-inline: 10px;

}

.card-featured__subtitle span:nth-child(2) {
    color: var(--clr-gra);
    font-size: 20px;
    font-weight: 400;
    margin-left: 26px;
}

/* footer */

footer {
    height: 182px;
    padding-top: 51px;
    padding-bottom: 54px;
}

.footer__list {
    display: flex;
    gap: 35px;
    justify-content: center;
}

.footer__social {
    width: 30px;
    height: 30px;
}

.footer__social1 {
    background: url(../img/fb.png) center /30px no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.footer__social2 {
    background: url(../img/insta.png) center /30px no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.footer__social3 {
    background: url(../img/Group.png) center /30px no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.footer__social4 {
    background: url(../img/Linkedin.png) center /30px no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.footer__copyring {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}