body {
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    padding: 40px 10px 40px 10px;
    max-width: 1100px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-block: 30px;
    font-size: 4rem;
    color: black;
    text-shadow: 5px 5px gray ;
}

/* task1 */
.task1 {
    margin-block: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 5px solid blueviolet;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.clock_centr {
    width: 20px;
    height: 20px;
    background-color: blueviolet;
    border-radius: 50%;
    z-index: 1;
}

.clock::before,
.clock::after {
    position: absolute;
    content: "";
    top: 142px;
    width: 7px;
    background-color: blueviolet;
    transform-origin: center calc(100% - calc(10px / 2));
    animation: anim infinite linear;
}

.clock::before {
    height: 100px;
    animation-duration: 1s;

}

.clock::after {
    top: 45px;
    height: 200px;
    animation-duration: 60s;
}

@keyframes anim {
    to {
        transform: rotate(360deg);
    }

}

/* task2 */
.task2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blocks {
    margin-block: 2rem;
    display: flex;
    justify-content: center;
    perspective: 600px;
}

.block {
    width: 300px;
    height: 150px;
    background-color: brown;
    border: 3px solid rgb(87, 21, 21);
    position: relative;
    z-index: 2;
    transition: all cubic-bezier(0.3, 0.9 0.5, 1);
}

.blocks:hover .left {
    transform: rotateY(70deg);
    transform-origin: left center;
}

.blocks:hover .right {
    transform: rotateY(290deg);
    transform-origin: right center;
}

.task2_text {
    position: relative;
    font-size: 40px;
    z-index: -1;
    top: -125px;
}

/* task3 */
.container{
   display: flex;
   flex-direction: column;
}
.card{
    display: flex;
    height: 15.625rem;
    width: 31.25rem;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(51, 51, 51);
    background: rgb(233, 232, 232);
    overflow:hidden;
}
.card img{
    width: 100%;
    height: 100%;
}
.row{
    display: flex;
    transition: .3s;
}
.row:hover{
   filter: brightness(.5);
}
.row:hover img{
 animation: zoomin 1s;
 
}
@keyframes zoomin {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.5);
    }
  }