* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://picsum.photos/id/16/1000/900") no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    margin-block: 5rem;
}

.form {
    box-shadow: 0 0 15px #000;
    background-color: #00000000;
    padding: 2.5rem;
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 2rem 2rem 1fr 2rem;
    grid-template-areas:
        "title title"
        "text text"
        "form form"
        "bott btn"
    ;
    gap: .5rem;
}

.title {
    grid-area: title;
    font-size: 1.5rem;
    font-weight: 600;
}

.text {
    grid-area: text;
}

.input_items {
    border-bottom: 2px solid #fff;
    padding-bottom: 1rem;
    grid-area: form;
    display: grid;
    grid-template-rows: 2rem 2rem 2rem 2rem 4.5rem;
    gap: 1rem;

}

label,
input,
select {
    height: 2rem;
}

input,
select,
textarea{
    border: none;
}

.submit {
    grid-area: btn;

}

.name {
    display: grid;
    grid-template-columns: 10rem 1fr 1fr;
    gap: .5rem;
}

.email {
    display: grid;
    grid-template-columns: 10rem 1fr;
    gap: .5rem;
}

.phone {
    display: grid;
    grid-template-columns: 10rem .5fr .5fr 1fr;
    gap: .5rem;
}

.subject {
    display: grid;
    grid-template-columns: 10rem 1fr;
    gap: .5rem;
}

.message {
    display: grid;
    grid-template-columns: 10rem 1fr;
    gap: .5rem;
}

::placeholder {
    padding-left: 1rem;
}

select {
    padding-inline: 1rem;  
    appearance: none;
    /* background: url("../img/select.svg") no-repeat; */
    background: url("../img/select.svg") #fff no-repeat right center;
    border: none;
    outline: 0;
}
.submit{
    background-color: #00000000;
    border: 2px solid #fff; 
    color: #fff;
    font-weight: 700;
    font-size: .7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow:0 0 3px #000;
}