@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --clr-text: #053d51;
  --clr-white: #fff;
  --clr-bg: #d4f0f1;
  --clr-box-shadow: rgb(84, 86, 89);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-bg);
  font-family: "Poppins", sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
